* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #f5efef;
    font-family: 'Lato', sans-serif;
}

h1 {
    color: #FF2C20;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.4rem;
}


li {
    text-transform: uppercase;
    padding: 10px;
    list-style: none;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #232323;
}

img {
    width: 200px;
}

img.small {
    width: 100px;
}


.container {
    text-align: center;
    min-width: 80%;
    max-width: 1200px;
    margin: 30px auto;
}

.box {
    width: 30%;
    background-color: #FF2C20;
    border: 1px solid #252424;
    margin: 0 auto;
    padding: 15px 25px;
    text-align: start;
    color: #f5efef;
    margin-bottom: 20px;
}

